body{
    padding: 5px;
    background-color: black;
    color: rgb(123, 255, 0);
    font-family: "Consolas", monospace;
}
.container{
    padding: 10px;
    width: 90vw;
    height: 90vh;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;

}
#box1{
    width: 30%;
    height: 80%;
    background-color: rgb(13, 31, 0);
    animation: bloom 3s infinite;
}
#box2{
    width: 80%;
    border: 5px solid rgb(0, 255, 0); 
    animation: bloom 2s infinite;
    
}

.lista_horizontal{
    list-style: none;
    text-decoration: none;
    text-align: none;
    margin: 0;
    padding: 0;
}
.lista_horizontal li{

    text-decoration: none;
    padding: 10px;
    color: yellow;
}
a {
    color: rgb(123, 255, 0);
    text-decoration: none;
    background-color: rgb(0, 0, 0);
    border: 3px solid rgb(123, 255, 0);
    border-radius: 3px;
    padding: 3px;
    animation: bloom 3s infinite;
}
a:hover{
    color: rgb(0, 0, 0);
    text-decoration: none;
    border: 3px solid white;
    background-color: rgb(123, 255, 0);
    border-radius: 3px;
    padding: 5px;
}
header{
    border: 5px solid rgb(123, 255, 0);
    color: rgb(123, 255, 0);
}

@keyframes bloom {
    0% {
      box-shadow: 0 0 0 0 rgb(123, 255, 0, 0.8); /* Sombra inicial */
      text-shadow: 0 0 0 rgba(123, 255, 0, 0.8); /* Sombra inicial */
    }
    50% {
      box-shadow: 0 0 20px 10px rgb(123, 255, 0, 0.2); /* Sombra máxima */
      text-shadow: 0 0 10px rgba(123, 255, 0, 0.2); /* Sombra máxima */
    }
    100% {
      box-shadow: 0 0 0 0 rgb(123, 255, 0, 0); /* Sombra final */
      text-shadow: 0 0 0 rgba(123, 255, 0, 0); /* Sombra final */
    }
}

