body{
    background-color: black;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header{
    text-align: center;
    font-size: 22px;
    border-radius: 5px;
    height: 100%;
    width:100%;
    position: relative;
    background-color: rgb(132, 0, 255);
    color: black;
    bottom: 10px;
}
section{
    text-align: justify;
}
#apresentacao{
    text-align: justify;
    font-size: 20px;
    height: 100;
    width: 50%;
    background-color: rgb(174, 0, 255);
    border-radius: 5px;
    position: relative;
    left: 10%;
    bottom: 5px;
}
#cobra{
    border: 5px solid green;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.lista_horizontal {
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: yellow;
}
.lista_horizontal li{
    display: inline;
    text-decoration: none;
    padding: 10px;
    color: yellow;
}
a {
    color: yellow;
    text-decoration: none;
    background-color: rgb(132, 0, 255);
    border: 3px solid green;
    border-radius: 3px;
    padding: 3px;
}
a:hover {
    color: rgb(132,0,255);
    text-decoration: none;
    border: 3px solid yellow;
    background-color: white;
    border-radius: 3px;
    padding: 5px;
}
